.app-container {
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  color: gray;
  font-size: 14px;
  border-top: 1px solid #e2e2e2;
}

.dark-mode-toggle {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--accent-color);
}
